*.elc
*.swp
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.zsh/cache
/bin
/heifer
/pkg
node_modules
npm-debug.log
